# 忽略目录
.vscode/
.git/
build/
docs/
demo/
node_modules/
packages/
public/
**/static/

# 忽略指定文件
favicon.ico
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.prettierignore
.prettierrc.js
env.d.ts
index.html
package-lock.json
tsconfig.json
tsconfig.node.json
vite.config.ts
