.comment {
  display: flex;
  padding: 16px 0;
  a:hover {
    text-decoration: none;
  }
  .u-icon {
    font-size: 16px;
  }
  &-primary {
    flex: 1;
    margin-left: 16px;
    overflow: hidden;
  }
}

.comment-main {
  .user-info {
    display: flex;
    align-items: center;
    .username {
      display: flex;
      align-items: center;
      .name {
        max-width: 10px;
        font-weight: 500;
        font-size: 15px;
        color: var(--u-text-color);
        line-height: 32px;
        margin-right: 4px;
      }
    }

    .time {
      margin-left: auto;
      font-size: 14px;
      line-height: 22px;
      color: #8a919f;
    }
  }
}

.action-box {
  display: flex;
  align-items: center;
  position: relative;

  .item {
    display: flex;
    align-items: center;
    margin-right: 16px;
    line-height: 22px;
    font-size: 14px;
    cursor: pointer;
    color: var(--u-text-color-secondary);
    .u-icon {
      margin-right: 4px;
    }
  }
  .item:hover,
  .active {
    color: var(--u-color-primary);
  }
}

.u-fold {
  margin-top: 8px;
}

.reply {
  .content-box {
    margin-left: 12px;
  }
  .el-avatar {
    --el-avatar-size: 24px !important;
  }
  padding: 0;
}
.reply:not(:first-child) {
  margin-top: 2rem;
}
