.el-dialog {
  .el-dialog__header {
    text-align: left;
    margin-right: 0;
    border-bottom: 1px solid var(--u-border-color);
  }
  .el-dialog__body {
    padding: 20px !important;
  }
  .el-dialog__footer {
    padding: 10px 20px;
  }
}