// .source-vue {
//   position: relative;
//   pre {
//     display: block;
//     font-family: monospace;
//     white-space: pre;
//     margin: 1em 0px;
//     padding: 0.25rem;
//     margin: 0;
//     text-align: left;
//     overflow-x: auto;
  
//     code {
//       padding: 0;
//       font-family: var(--code-font-family);
//       font-size: 14px;
//       color: var(--c-text-light);
//       background-color: transparent;
//     }
//   }
// }
// .source-vue:before {
//   content: "vue";
//   position: absolute;
//   z-index: 3;
//   top: 0.8em;
//   right: 1em;
//   font-size: .75rem;
//   color: #6e6e6e;
// }

a {
  color: #409eff;
}
a:hover {
  color: #79bbff;
}

