.el-textarea {
  :deep(.el-textarea__inner) {
    resize: none;
  }
  :deep(.el-textarea__inner::-webkit-scrollbar) {
    display: none;
  }
}

.u-chat {
  font-size: 14px;
  .chat-container {
    height: calc(85% - 84px);
    max-height: 590px;
    min-height: 250px;
    width: 400px;
    z-index: 1000;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.12);
    background: #f4f6fb;
    border-radius: 10px;
    position: fixed;
    bottom: 70px;
    right: 35px;

    .header {
      display: flex;
      align-items: center;
      padding: 20px 24px;
      background: #ffffff;
      border-radius: 1em 1em 0 0;
      box-shadow: 0 10px 15px -16px rgba(52, 52, 63, 0.08), 0 4px 6px -8px rgba(50, 50, 93, 0.04);
    }
    .footer {
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      bottom: 0;
      padding: 8px 16px;
      background: #f7f7f7;
      fill: #515767;
      border-radius: 0 0 1em 1em;
      display: flex;
      align-items: center;
      .voice-btn {
        font-size: 13px;
        outline: none;
        height: 31px;
        width: 100%;
        background: #fff;
        border: none;
        border-radius: 2px;
      }
    }
  }
  .translate {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .active {
    display: block;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .chat-btn {
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    right: 35px;
  }
}

.submit-btn {
  color: rgb(31, 147, 255);
}